<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">    
    
    <!-- xmlns:o="http://omnifaces.org/ui" -->

    <ui:define name="titulo">Pesquisa de Usuários</ui:define>
    
    <ui:define name="corpo">
    
    	<h:form id="frmPesquisa">
    	  <!--  <p:focus context="frmPesquisa"/>  -->     

    	   <h1>Pesquisa de Usuários</h1>
	    	
	    	<p:toolbar style="margin-top: 20px">
	    		<p:toolbarGroup>
	    			<p:commandButton value="Pesquisar" action="#{pesquisaUsuarioBean.pesquisar}" update="@form" /> 
	    		</p:toolbarGroup>
	    		<p:toolbarGroup align="right">
	    			<p:button value="Novo" outcome="/usuarios/Usuarios"
	    			 />
	    		</p:toolbarGroup>
	    	</p:toolbar>	    	
	    	
	    	<p:panelGrid columns="6" id="painel" style="width: 100%; margin-top: 20px"
	    			columnClasses="rotulo, campo">

	    		<p:outputLabel value="Login" for="login" />
	    		<p:inputText id="login" value="#{pesquisaUsuarioBean.filtro.login}" />

	    		<p:outputLabel value="Nome" for="nome" />
	    		<p:inputText id="nome" value="#{pesquisaUsuarioBean.filtro.nome}" />

	    		<p:outputLabel value="E-mail" for="email" />
	    		<p:inputText id="email" value="#{pesquisaUsuarioBean.filtro.email}" />

            </p:panelGrid>
            
	    	<p:dataTable id="usuarioTable" value="#{pesquisaUsuarioBean.usuariosFiltrados}" var="usuario"
		    		style="margin-top: 20px" emptyMessage="Nenhum usuário encontrado."
		    		rows="10" paginator="true" paginatorAlwaysVisible="false" paginatorPosition="bottom">
	    		
	    		<p:column headerText="Código" style="text-align: center; width: 100px">
	    			<h:outputText value="#{usuario.id}"/>
	    		</p:column>

	    		<p:column headerText="Login">
	    			<h:outputText value="#{usuario.login}"/>
	    		</p:column>

	    		<p:column headerText="Nome">
	    			<h:outputText value="#{usuario.nome}"/>
	    		</p:column>	    		

	    		<p:column headerText="E-mail">
	    			<h:outputText value="#{usuario.email}"/>	    			
	    		</p:column>
	    		
	    		<p:column headerText="Ativo">
	    			<h:outputText value="#{usuario.status}"/>	    			
	    		</p:column>

	    		<p:column headerText="Editar" style="text-align: center; width: 50px">
	    			<p:button icon="ui-icon-pencil" title="Editar Usuário" 
	    			       outcome="/usuarios/Usuarios">
	    				<f:param name="usuario" value="#{usuario.id}" />
	    			</p:button>
	    		</p:column>
	    	</p:dataTable>
            
    	</h:form>
    </ui:define>
</ui:composition>