<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:o="http://omnifaces.org/ui">

	<f:metadata>
		<o:viewParam name="usuario" value="#{cadastroUsuarioBean.usuario}" />
		<f:event listener="#{cadastroUsuarioBean.inicializar}" type="preRenderView" />
	</f:metadata>

    <ui:define name="titulo">#{cadastroUsuarioBean.editando ? "Edição de Usuário" : "Novo Usuário"}</ui:define>
     
    <ui:define name="corpo">
    	<h:form id="frmCadastro">
    	    <p:focus context="frmCadastro"/>
    	   <h1>#{cadastroUsuarioBean.editando ? "Edição de Usuário" : "Novo Usuário"}</h1>	    	
	    	<!-- <p:messages autoUpdate="false" /> -->
	    	<p:messages autoUpdate="true" closable="true" />
	    	
	    	<ui:include src="/WEB-INF/template/usuarios/BotoesUsuarios.xhtml" />
	    	
	    	<ui:include src="/WEB-INF/template/usuarios/CorpoUsuarios.xhtml" />
    	</h:form>
    </ui:define>
</ui:composition>