<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:o="http://omnifaces.org/ui">

	<f:metadata>
		<o:viewParam name="raca" value="#{cadastroRacaBean.raca}" />
		<f:event listener="#{cadastroRacaBean.inicializar}" type="preRenderView" />
	</f:metadata>

    <ui:define name="titulo">#{cadastroRacaBean.editando ? "Edição de Raça" : "Nova Raça"}</ui:define>
     
    <ui:define name="corpo">
    	<h:form id="frmCadastro">
    	    <p:focus context="frmCadastro"/>
    	   <h1>#{cadastroRacaBean.editando ? "Edição de Raça" : "Nova Raça"}</h1>	    	
	    	<!-- <p:messages autoUpdate="false" /> -->
	    	<p:messages autoUpdate="true" closable="true" />
	    	
	    	<ui:include src="/WEB-INF/template/racas/BotoesRacas.xhtml" />
	    	
	    	<ui:include src="/WEB-INF/template/racas/CorpoRacas.xhtml" />
    	</h:form>
    </ui:define>
</ui:composition>