<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:o="http://omnifaces.org/ui">

	<f:metadata>
		<o:viewParam name="veterinario" value="#{cadastroVeterinarioBean.veterinario}" />
		<f:event listener="#{cadastroVeterinarioBean.inicializar}" type="preRenderView" />
	</f:metadata>

    <ui:define name="titulo">#{cadastroVeterinarioBean.editando ? "Edição de Veterinário" : "Novo Veterinario"}</ui:define>
     
    <ui:define name="corpo">
    	<h:form id="frmCadastro">
    	    <p:focus context="frmCadastro"/>
    	   <h1>#{cadastroVeterinarioBean.editando ? "Edição de Veterinário" : "Novo Veterinário"}</h1>	    	
	    	<!-- <p:messages autoUpdate="false" /> -->
	    	<p:messages autoUpdate="true" closable="true" />
	    	
	    	<ui:include src="/WEB-INF/template/veterinarios/BotoesVeterinarios.xhtml" />
	    	
	    	<ui:include src="/WEB-INF/template/veterinarios/CorpoVeterinarios.xhtml" />
    	</h:form>
    </ui:define>
</ui:composition>