<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<p:panelGrid columns="4" style="width: 100%; margin-top: 20px"
		columnClasses="rotulo, campo, rotulo, campo">
		
		<p:outputLabel value="Código" for="codigo"/>
			<h:outputText id="codigo" value="#{cadastroEspecieBean.especie.id}" />

		<p:outputLabel value="Nome" for="nome"/>
		<p:inputText type="text" id="nome" required="true" size="50" maxlength="50"
		        value="#{cadastroEspecieBean.especie.nome}">
		</p:inputText>

	</p:panelGrid>

</ui:composition>