<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<p:toolbar style="margin-top: 20px">
		<p:toolbarGroup>
			<p:button value="Novo" outcome="/proprietarios/Proprietarios" />
			<p:commandButton value="Salvar"
				action="#{cadastroProprietarioBean.salvar}"
				update="frmCadastro" />

		</p:toolbarGroup>

		<p:toolbarGroup align="right">
			<p:commandButton value="Cancelar" disabled="true" />
			<p:separator />

			<p:button value="Pesquisa"
				outcome="/proprietarios/PesquisaProprietarios" />
		</p:toolbarGroup>
	</p:toolbar>

</ui:composition>