<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

	<h:panelGroup layout="block" style="padding-right: 10px">
	
	<p:panelGrid columns="4" style="width: 100%; margin-top: 20px"
		columnClasses="rotulo, campo, rotulo, campo">
	
		<p:outputLabel value="Logradouro" for="logradouro"/>
		<p:inputText type="text" id="logradouro" size="50" maxlength="100"
		        value="#{cadastroProprietarioBean.proprietario.endereco.logradouro}">
		</p:inputText>
		
		<p:outputLabel value="Número" for="numero"/>
		<p:inputText type="text" id="numero" size="50" maxlength="100"
		        value="#{cadastroProprietarioBean.proprietario.endereco.numero}">
		</p:inputText>
		<p:outputLabel value="Complemento" for="complemento"/>		
		<p:inputText type="text" id="complemento" size="50" maxlength="100"
		        value="#{cadastroProprietarioBean.proprietario.endereco.complemento}">
		</p:inputText>
		<p:outputLabel value="Bairro" for="bairro"/>
		<p:inputText type="text" id="bairro" size="50" maxlength="100"
		        value="#{cadastroProprietarioBean.proprietario.endereco.bairro}">
		</p:inputText>
		<p:outputLabel value="Cidade" for="cidade"/>
		<p:inputText type="text" id="cidade" size="50" maxlength="100"
		        value="#{cadastroProprietarioBean.proprietario.endereco.cidade}">
		</p:inputText>								
		
        <p:outputLabel value="UF" for="uf" />
        <p:selectOneMenu id="uf" value="#{cadastroProprietarioBean.proprietario.endereco.uf}" >
			<f:selectItem itemLabel="Ceará" itemValue="CE"/>
			<f:selectItem itemLabel="Acre" itemValue="AC"/>	 
			<f:selectItem itemLabel="Alagoas" itemValue="AL"/>	 
			<f:selectItem itemLabel="Amapá" itemValue="AP"/>	 
			<f:selectItem itemLabel="Amazonas" itemValue="AM"/>	 
			<f:selectItem itemLabel="Bahia" itemValue="BA"/>
			<f:selectItem itemLabel="Distrito Federal" itemValue="DF" />	 
			<f:selectItem itemLabel="Espírito Santo" itemValue="ES"/>	 
			<f:selectItem itemLabel="Goiás" itemValue="GO"/>	 
			<f:selectItem itemLabel="Maranhão" itemValue="MA"/>	 
			<f:selectItem itemLabel="Mato Grosso" itemValue="MT"/>	 
			<f:selectItem itemLabel="Mato Grosso do Sul" itemValue="MS"/>	 
			<f:selectItem itemLabel="Minas Gerais" itemValue="MG"/>	 
			<f:selectItem itemLabel="Pará" itemValue="PA"/>	 
			<f:selectItem itemLabel="Paraíba" itemValue="PB"/>	 
			<f:selectItem itemLabel="Paraná" itemValue="PR"/>	 
			<f:selectItem itemLabel="Pernambuco" itemValue="PE"/>	 
			<f:selectItem itemLabel="Piauí" itemValue="PI"/>	 
			<f:selectItem itemLabel="Rio de Janeiro" itemValue="RJ"/>	 
			<f:selectItem itemLabel="Rio Grande do Norte" itemValue="RN"/>	 
			<f:selectItem itemLabel="Rio Grande do Sul" itemValue="RS"/>	 
			<f:selectItem itemLabel="Rondônia" itemValue="RO"/>	 
			<f:selectItem itemLabel="Roraima" itemValue="RR"/>	 
			<f:selectItem itemLabel="Santa Catarina" itemValue="SC"/>	 
			<f:selectItem itemLabel="São Paulo" itemValue="SP"/>	 
			<f:selectItem itemLabel="Sergipe" itemValue="SE"/>	 
			<f:selectItem itemLabel="Tocantins" itemValue="TO"/>            
        </p:selectOneMenu>		
   </p:panelGrid>
		
	</h:panelGroup>
  	
</ui:composition>


