<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">    
    
    <!-- xmlns:o="http://omnifaces.org/ui" -->

    <ui:define name="titulo">Pesquisa de Espécies</ui:define>
    
    <ui:define name="corpo">
    
    	<h:form id="frmPesquisa">
    	  <!--  <p:focus context="frmPesquisa"/>  -->     

    	   <h1>Pesquisa de Espécies</h1>
	    	
	    	<p:toolbar style="margin-top: 20px">
	    		<p:toolbarGroup>
	    			<p:commandButton value="Pesquisar" action="#{pesquisaEspecieBean.pesquisar}" update="@form" /> 
	    		</p:toolbarGroup>
	    		<p:toolbarGroup align="right">
	    			<p:button value="Novo" outcome="/especies/Especies"
	    			 />
	    		</p:toolbarGroup>
	    	</p:toolbar>	    	
	    	
	    	<p:panelGrid columns="6" id="painel" style="width: 100%; margin-top: 20px"
	    			columnClasses="rotulo, campo">

	    		<p:outputLabel value="Nome" for="nome" />
	    		<p:inputText id="nome" value="#{pesquisaEspecieBean.filtro.nome}" />

            </p:panelGrid>
            
	    	<p:dataTable id="especieTable" value="#{pesquisaEspecieBean.especiesFiltradas}" var="especie"
		    		style="margin-top: 20px" emptyMessage="Nenhuma espécie encontrada."
		    		rows="10" paginator="true" paginatorAlwaysVisible="false" paginatorPosition="bottom">
	    		
	    		<p:column headerText="Código" style="text-align: center; width: 100px">
	    			<h:outputText value="#{especie.id}"/>
	    		</p:column>

	    		<p:column headerText="Nome">
	    			<h:outputText value="#{especie.nome}"/>
	    		</p:column>	    		

	    		<p:column headerText="Editar" style="text-align: center; width: 50px">
	    			<p:button icon="ui-icon-pencil" title="Editar Espécie" 
	    			       outcome="/especies/Especies">
	    				<f:param name="especie" value="#{especie.id}" />
	    			</p:button>
	    		</p:column>
	    	</p:dataTable>
            
    	</h:form>
    </ui:define>
</ui:composition>