<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<p:toolbar style="margin-top: 20px">
		<p:toolbarGroup>
			<p:commandButton value="Salvar"
				action="#{cadastroAtendimentoPacienteBean.salvar}" 
				update="frmCadastro" disabled="#{cadastroAtendimentoPacienteBean.atendimentoPaciente.cancelado}" />
			<p:separator />  

			<p:commandButton value="Iniciar" 
				action="#{cadastroAtendimentoPacienteBean.iniciarAtendimento}" 
				update="frmCadastro" disabled="#{cadastroAtendimentoPacienteBean.desabilitarBotaoIniciar}"/>
			
			<p:commandButton value="Finalizar" 
				action="#{cadastroAtendimentoPacienteBean.finalizarAtendimento}" 
				update="frmCadastro" disabled="#{cadastroAtendimentoPacienteBean.desabilitarBotaoFinalizar}"/>
		</p:toolbarGroup>
		
		<p:toolbarGroup align="right">
			<p:commandButton value="Cancelar" 
				action="#{cadastroAtendimentoPacienteBean.cancelarAtendimento}" 
				update="frmCadastro" disabled="#{cadastroAtendimentoPacienteBean.atendimentoPaciente.cancelado 
				                                 or cadastroAtendimentoPacienteBean.usuarioVeterinario}"/>
			<p:separator />

            <p:commandButton value="Imprimir Prontuário" 
                    action="#{relatorioDadosAnimalBean.emitir(cadastroAtendimentoPacienteBean.atendimentoPaciente.animal.id)}"
					    				ajax="false" />

			<p:commandButton value="Lista de Espera"
			     rendered="false"
				  action="PesquisaListaEspera?faces-redirect=true"
				  actionListener="#{cadastroAtendimentoPacienteBean.salvar}"  />

			<p:commandButton value="Lista de Espera (Clínico)"
	              rendered="#{cadastroAtendimentoPacienteBean.atendimentoPaciente.tipoAtendimentoClinico 
	                          or cadastroAtendimentoPacienteBean.atendimentoPaciente.tipoAtendimentoRetorno}"		
				  action="PesquisaListaEspera?faces-redirect=truetipoatendimento=clinico"
				  actionListener="#{cadastroAtendimentoPacienteBean.salvar}"  />

			<p:commandButton value="Lista de Espera (Cirúrgico)"
	              rendered="#{cadastroAtendimentoPacienteBean.atendimentoPaciente.tipoAtendimentoCirurgico}"		
				  action="PesquisaListaEspera?faces-redirect=truetipoatendimento=cirurgico"
				  actionListener="#{cadastroAtendimentoPacienteBean.salvar}"  />

			<p:commandButton value="Lista de Espera (Exames)"
	              rendered="#{cadastroAtendimentoPacienteBean.atendimentoPaciente.tipoAtendimentoExame}"		
				  action="PesquisaListaEspera?faces-redirect=truetipoatendimento=ultrassom"
				  actionListener="#{cadastroAtendimentoPacienteBean.salvar}"  />


			<!--<p:button value="Lista de Espera"
				outcome="/atendimentospacientes/PesquisaListaEspera" />
		   	<p:button value="Pesquisa"
				outcome="/atendimentospacientes/PesquisaAtendimentoPacientes" />  -->				
		</p:toolbarGroup>
	</p:toolbar>

</ui:composition>