<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

	<h:panelGroup layout="block" style="padding-right: 10px">
	    	<p:dataTable id="historicoTable" value="#{cadastroAtendimentoPacienteBean.historicoAtendimentosPaciente}" var="atendimento"
		    		style="margin-top: 20px" emptyMessage="Nenhum histórico de atendimento."
		    		rows="5" paginator="true" paginatorAlwaysVisible="false" paginatorPosition="bottom">
		    
				<p:column headerText="Data Criação" style="text-align: center; width: 80px">
				   <h:outputFormat  id="data" value="#{atendimento.dataHoraCriacao}">
				      <f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
				   </h:outputFormat>
				</p:column>

	    		<p:column headerText="Atend." style="text-align: center; width: 30px">
	    			<h:outputText value="#{atendimento.id}"/>
	    		</p:column>

	    		<p:column headerText="Resumo" style="text-align: center; width: 100px">
	    			<h:outputText value="#{atendimento.resumo}"/>
	    		</p:column>

	    		<p:column headerText="Status" style="text-align: center; width: 70px">
	    			<h:outputText value="#{atendimento.status.descricao}"/>
	    		</p:column>	    		

	    		<p:column headerText="Tipo" style="text-align: center; width: 50px">
	    			<h:outputText value="#{atendimento.tipoAtendimentoPaciente.descricao}"/>
	    		</p:column>

	    		<p:column headerText="Veterinário" style="text-align: center; width: 80px">
	    			<h:outputText value="#{atendimento.veterinario.nome}"/>
	    		</p:column>
	    		
	    		<p:column headerText="Consultório" style="text-align: center; width: 80px">
	    			<h:outputText value="#{atendimento.consultorio.nome}"/>
	    		</p:column>

	    		<p:column headerText="Pesagem" style="text-align: center; width: 50px">
	    			<h:outputText value="#{atendimento.peso}"/>
	    		</p:column>

	    		<p:column headerText="Diagnóstico" style="text-align: center; width: 100px">
	    			<h:outputText value="#{atendimento.diagnostico}"/>	    			
	    		</p:column>

	    		<p:column headerText="Anamnese" style="text-align: center; width: 100px">
	    			<h:outputText value="#{atendimento.anamnese}"/>	    			
	    		</p:column>

	    		<p:column headerText="Avaliação Física" style="text-align: center; width: 100px">
	    			<h:outputText value="#{atendimento.exameFisico}"/>	    			
	    		</p:column>

	    		<p:column headerText="Exames" style="text-align: center; width: 100px">
	    			<h:outputText value="#{atendimento.exameComplementar2}"/>	    			
	    		</p:column>

	    		<p:column headerText="Result.Exames" style="text-align: center; width: 100px">
	    			<h:outputText value="#{atendimento.resultadoExameComplementar2}"/>	    			
	    		</p:column>
	    		
	    		<p:column headerText="Trat. Clínico" style="text-align: center; width: 100px">
	    			<h:outputText value="#{atendimento.tratamento}"/>	    			
	    		</p:column>
	    		
	    		<p:column headerText="Trat. Cirúrgico" style="text-align: center; width: 100px">
	    			<h:outputText value="#{atendimento.tratamentoCirurgico}"/>	    			
	    		</p:column>	    		
	    	</p:dataTable>
        
	</h:panelGroup>	
  	
</ui:composition>