<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Login</title>

        <h:outputStylesheet library="css" name="sistema.css"/>
    </h:head>
    <h:body>
    
        <f:metadata>
           <f:viewParam name="blablabla" /> <!-- @@ evita chamar a requisição mais de uma vez - bug do JSF -->
        </f:metadata>
    
    	<div id="login-dialog">
    		<h1>Login</h1>
    		
    		<h:form id="frm" prependId="false">
    		
    		   <p:messages id="messages" autoUpdate="true" closable="true" />
    		
    			<h:panelGrid columns="2" styleClass="grid-login">
    				<p:outputLabel value="E-mail" />
    				<p:inputText size="30" required="true" type="email" id="username" value="#{autenticadorBean.email}" />
    				
    				<p:outputLabel value="Senha" />
    				<p:password size="30" required="true" autocomplete="false" id="password" value="#{autenticadorBean.senha}" />
    				
    				<h:panelGroup/>

    				<p:commandButton value="Login" action="#{autenticadorBean.autentica}" 
    				                  ajax="false"/>
    			</h:panelGrid>
    		</h:form>
    	</div>
    </h:body>
</html>