<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<p:toolbar style="margin-top: 20px">
		<p:toolbarGroup>
			<p:button value="Novo" outcome="/usuarios/Usuarios" />

			<p:commandButton value="Salvar"
			    disabled="#{!autenticadorBean.administrador}"
				action="#{cadastroUsuarioBean.salvar}"
				update="frmCadastro" />

		</p:toolbarGroup>

		<p:toolbarGroup align="right">

			<p:button value="Pesquisa"
				 outcome="/usuarios/PesquisaUsuarios" />
		</p:toolbarGroup>
	</p:toolbar>

</ui:composition>