<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<p:panelGrid columns="4" style="width: 100%; margin-top: 20px"
		columnClasses="rotulo, campo, rotulo, campo">
		
		<p:outputLabel value="Código" for="codigo"/>
			<h:outputText id="codigo" value="#{cadastroUsuarioBean.usuario.id}" />

		<p:outputLabel value="Login" for="login"/>
		<p:inputText type="text" id="login" required="true" size="20" maxlength="20"
		        value="#{cadastroUsuarioBean.usuario.login}">
		</p:inputText>


		<p:outputLabel value="Nome" for="nome"/>
		<p:inputText type="text" id="nome" required="true" size="50" maxlength="100"
		        value="#{cadastroUsuarioBean.usuario.nome}">
		</p:inputText>

		<p:outputLabel value="E-mail" for="email" />
		<p:inputText type="text" id="email" size="50" maxlength="100" required="true"
		        value="#{cadastroUsuarioBean.usuario.email}">
		</p:inputText>

		<p:outputLabel value="Senha" for="senha1" />
		<h:inputSecret id="senha1" required="true" 
		     value="#{cadastroUsuarioBean.usuario.senha}"/>

		<p:outputLabel value="Confirmar Senha"  for="senhaConfirmacao"/>
		<h:inputSecret id="senhaConfirmacao" required="true"
		     requiredMessage="Confirmar a senha" 
		     value="#{cadastroUsuarioBean.usuario.senhaConfirmacao}"/>
		
		<p:outputLabel value="Grupo" for="grupo" />
		<p:selectOneMenu id="grupo" value="#{cadastroUsuarioBean.usuario.grupo}" required="true">
			<f:selectItem itemLabel="Selecione um grupo" />
			     <f:selectItems value="#{cadastroUsuarioBean.grupos}" var="grupo" 
			   itemValue="#{grupo}" itemLabel="#{grupo.nome}"/>
		</p:selectOneMenu>		

		<p:outputLabel value="Dr. Veterinário" for="veterinario" />		
		<p:selectOneMenu id="veterinario" value="#{cadastroUsuarioBean.usuario.veterinario}">
			<f:selectItem itemLabel="Selecione um Dr. veterinário" />
			<f:selectItems value="#{cadastroUsuarioBean.veterinarios}" var="veterinario" 
			   itemValue="#{veterinario}" itemLabel="#{veterinario.nome}"/>
		</p:selectOneMenu>		

		<p:outputLabel value="Redefinir a senha" for="redefinirSenha"/>
        <p:selectBooleanCheckbox id="redefinirSenha" itemLabel=""
			value="#{cadastroUsuarioBean.usuario.redefinir}">
  	    </p:selectBooleanCheckbox>

		<p:outputLabel value="Pode Iniciar Atendimento" />
		<h:outputText value="#{cadastroUsuarioBean.usuario.podeIniciarAtendimento ? 'Sim' : 'Não'}" />
  	    
		<p:outputLabel value="Ativo" />
        <p:selectBooleanCheckbox itemLabel=""
			value="#{cadastroUsuarioBean.usuario.ativo}">
  	    </p:selectBooleanCheckbox>

	</p:panelGrid>

</ui:composition>